<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cop4331.oneshot">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:protectionLevel="signature"
        android:name="com.cop4331.oneshot.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.cop4331.oneshot.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cop4331.camera.CameraActivity"
            android:label="Camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cop4331.image_manipulation.ImageManipulateTest"
            android:label="Camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.cop4331.LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".InGameActivity" />
        <activity android:name=".ShotEnlargedActivity" />

        <!-- Parse setup -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="kyNJHeJgXmP4K4TxmeaFrU09D0faUvwQ2RSBGv5s" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="uRdkVn6jcjdZF7kMQxKAAK39JpNG98nJFPwfbhwo" />
        <!-- GCM setup -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:462137946446" />
        <!-- The following service and broadcast receiver definitions must come immediately
             before the closing </application> tag -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.cop4331.oneshot" />
            </intent-filter>
        </receiver>

    </application>

</manifest>